<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">


  <head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" href="assets/bs/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
	<script src="assets/bs/js/bootstrap.min.js"></script>
	
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </head>



  <body>

    <div class="container">
      <!-- <h2>Carousel Example</h2>   -->
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-caption">
            <h3 class="carousel-title"> {{ page.title | default: site.title }} </h3>
            <p class="carousel-body"> {{ page.description | default: site.description }} </p>

            <a href="index" class="btn">Home</a>
            <!-- <a href="#posters" class="btn">Posters</a> -->
        </div>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div id="gradYellow2Green"></div>
          </div>
      </div>
    </div>
	
    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
	

  </body>


</html>
